{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <label for="symbols">Insert a Stock Symbol and Number of Shares:</label>
        </div>
        <div class="mb-3">
            <input autofocus id="symbol" name="symbol" placeholder="stock symbol" type="text">
        </div>
        <div class="mb-3">
            <input id="shares" name="shares" placeholder="shares number" type="number" min="1">
        </div>
        <button class="btn btn-success" name="submit" type="submit">Buy</button>
    </form>
{% endblock %}
